<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.youyiguanbackend.models.doctor.mapper.DoctorMapper">

<insert id="insertDoctor">
    <selectKey keyProperty="doctor_id" resultType="int" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
INSERT INTO doctor ( name, gender, age, experience_level, hospital_name, contact_number, email, username, password, status, account_creation_date
, permission_level, ai_diagnosis_review_enabled, face_image_url, department, face_token )
VALUES
(
#{name},
#{gender.description},
#{age},
#{experienceLevel.description},
#{hospitalName},
#{contactNumber},
#{email},
#{username},
#{password},
#{status.description},
#{accountCreationDate},
#{permissionLevel},
#{aiDiagnosisReviewEnabled},
#{faceImageUrl},
#{department.description},
#{faceToken}
)
</insert>

<select id="selectDoctorUserNameAndEmail" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.SelectDoctorUserNameAndEmailVO">
    SELECT
        *
    FROM
        doctor
    WHERE
        username = #{username}
       OR email = #{email}
</select>

<select id="selectDoctorByUsernameAndPassword" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.LoginVO">

    SELECT
        *
    FROM
        doctor
    WHERE
        username = #{username}
    AND
        password = #{password}
</select>

    <update id="updateLastLogin">
        UPDATE doctor
        SET last_login = #{last_login}
        WHERE
            username = #{name}
    </update>
    <update id="updateDoctorInfo">
        UPDATE doctor
        SET
            name = #{name},
            gender = #{gender.description},
            age = #{age},
            experience_level = #{experience_level.description},
            hospital_name = #{hospital_name},
            department = #{department.description},
            contact_number = #{contact_number},
            email = #{email}
        WHERE
            username = #{username}
    </update>
    <update id="updateDoctorPassword">
        UPDATE doctor
        SET
            password = #{password}
        WHERE
            username = #{username}
    </update>

    <select id="selectDoctorByFaceAndUsername" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.LoginVO">
        SELECT *
        FROM
            doctor
        WHERE
            face_token = #{faceToken}
         AND    username = #{username}
    </select>

    <select id="selectDoctorByPhone" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.LoginVO">
        SELECT *
        FROM
            doctor
        WHERE
            contact_number = #{contact_number}
    </select>

    <select id="selectFaceToken" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.Doctor">
        SELECT *
        FROM
            doctor
        WHERE
            face_token = #{faceToken}
    </select>
    <select id="selectDoctorInfoByUsernameAndDepartment"
            resultType="com.example.youyiguanbackend.models.doctor.model.pojo.DoctorInfoVO">
        SELECT *
        FROM
            doctor
        WHERE
            username = #{username}
    </select>
    <select id="selectJwtVO" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.JWTVO">
        SELECT *
        FROM
            doctor
        WHERE
            username = #{username}
    </select>
    <select id="selectJwtVOByPhone" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.JWTVO">
        SELECT *
        FROM
            doctor
        WHERE
            contact_number = #{contact_number}
    </select>
    <select id="selectDoctorByContactPhone" resultType="java.lang.String">
        SELECT username
        FROM
            doctor
        WHERE
            contact_number = #{contact_number}
    </select>
    <select id="selectDoctorPermission" resultType="java.lang.Integer">
        SELECT permission_level
        FROM
            doctor
        WHERE
            username = #{username}
    </select>

</mapper>