<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.youyiguanbackend.models.doctor.mapper.NotificationsMapper">
    <insert id="createNotifications">
        INSERT INTO notifications (doctor_id, message, notification_type, status, priority, remarks)
        VALUES (
                #{doctor_id},
                #{msg},
                #{notification_type},
                #{status},
                #{priority},
                #{remarks}
               )
    </insert>
    <update id="markReadById">
        UPDATE notifications
        SET
            status = "已读"
        WHERE
            notification_id = #{notificationId}
    </update>
    <delete id="deleteById">
        DELETE FROM notifications WHERE doctor_id = #{doctorId}
    </delete>

    <select id="getTotalCountByIdAndStatusAndPriority" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
            notifications
        <where>
            doctor_id = #{doctor_id}
        <if test="status != null">
          AND  status = #{status}
        </if>
        <if test="priority != null">
          AND  priority = #{priority}
        </if>
        </where>
    </select>
    <select id="getTotalListByIdAndStatusAndPriority"
            resultType="com.example.youyiguanbackend.models.doctor.model.pojo.Notifications">
        SELECT *
        FROM
            notifications
        <where>
            doctor_id = #{doctor_id}
            <if test="status != null">
                AND  status = #{status}
            </if>
            <if test="priority != null">
                AND  priority = #{priority}
            </if>
        </where>
        LIMIT #{page} , #{limit}
    </select>
    <select id="getUnreadCountById" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
            notifications
        WHERE
            doctor_id = #{doctorId}
          AND status = "未读"
    </select>
    <select id="getMap1ById" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
            notifications
        WHERE
            doctor_id = #{doctorId}
          AND notification_type = "待审核诊断"
    </select>
    <select id="getMap2ById" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
            notifications
        WHERE
            doctor_id = #{doctorId}
          AND notification_type = "排队病人提醒"
    </select>
</mapper>