<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.youyiguanbackend.models.doctor.mapper.PatientMapper">

    <resultMap id="PatientGetListVOResultMap" type="com.example.youyiguanbackend.models.doctor.model.pojo.PatientGetListVO">
        <id property="patient_id" column="patient_id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="last_visit" column="last_visit"/>
        <result property="review_status" column="review_status"/>
        <result property="patient_status" column="patient_status"/>
        <!-- 映射数据库中的status列到appointment_status属性 -->
        <result property="appointment_status" column="status"/>
    </resultMap>

    <select id="getDoctorUsernameById" resultType="string">
        SELECT username
        FROM doctor
        WHERE doctor_id = #{doctor_id}
    </select>
    <select id="getPatientList"
            resultMap="PatientGetListVOResultMap">
        SELECT
            p.patient_id,
            p.NAME,
            p.gender,
            p.age,
            p.last_visit,
            m.review_status,
            m.patient_status,
            pe.status
        FROM
            patient p,
            patientappointment pe,
            medicalrecord m
        WHERE
            m.doctor_id = #{doctor_id}
          AND pe.doctor_id = #{doctor_id}
          AND p.patient_id = m.patient_id
          AND p.patient_id = pe.patient_id
          AND p.name LIKE CONCAT('%',#{search},'%')
    </select>
    <select id="getMedicalRecords"
            resultType="com.example.youyiguanbackend.models.doctor.model.pojo.MedicalRecords">
        SELECT *
        FROM
            medicalrecord
        WHERE
            doctor_id = #{doctor_id}
          AND patient_id = #{patient_id}
    </select>
    <select id="getPatientInfo" resultType="com.example.youyiguanbackend.models.doctor.model.pojo.PatientInfo">
        SELECT *
        FROM
            patient
        WHERE
            patient_id = #{patient_id}
    </select>
    <select id="getPatientInfoByPatientId"
            resultType="com.example.youyiguanbackend.models.doctor.model.pojo.GetPatientInfoByPatientIdVO">
        SELECT m.record_id,d.name,m.recipe_name,m.recipe_details,m.paozhi,m.diagnosis,m.review_status,m.patient_status,m.visit_date,m.remarks
        FROM
            doctor d,medicalrecord m
        WHERE
            d.doctor_id = m.doctor_id
            AND patient_id = #{patientId}
            <if test="reviewStatus != null">
                AND review_status = #{reviewStatus}
            </if>
            <if test="patientStatus != null">
                AND patient_status = #{patientStatus}
            </if>
            <if test="dateFrom != null">
                AND visit_date >= #{dateFrom}
            </if>
            <if test="dateTo != null">
                AND visit_date <![CDATA[ <= ]]> #{dateTo}
            </if>
    </select>
</mapper>